{% extends "base.html" %}

{% block title %}
About Us
{% endblock %}

{% block banner_slider %}
	{% include "includes/banner_slider.html" %}
{% endblock %}

{% block content %}

<div class="container mt-3">
	<br>
	<h2 class="text-center">About Us</h2>
	<br>
	<div class="row container">
		<p class="fs-4 text-center">
			Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Sint magnam, perspiciatis temporibus mollitia necessitatibus, porro ab, explicabo illum voluptatem corrupti dolores blanditiis accusamus delectus nesciunt autem quis itaque distinctio. Quod nemo ratione explicabo soluta voluptatem consequatur doloribus sint sequi, illo possimus ex laborum, excepturi sit? Quam, natus, maxime. Non, nisi.
		</p>
	</div>
	<h2 class="text-center">Mission</h2>
	<br>
	<div class="row container">
		<p class="fs-4 text-center">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus eveniet voluptates quia error quae, repudiandae maiores fuga libero assumenda eum blanditiis ad eos? Perspiciatis beatae unde, minima distinctio voluptatibus ut amet libero recusandae inventore ipsam quas asperiores blanditiis consequatur vel ducimus nulla quisquam reiciendis aliquid sunt odit dolor deleniti ea.
		</p>
	</div>
</div>
<br><br>

{% endblock %}